In [18]:
import pandas as pd
df = pd.read_excel(r'D:\Data analyst\natural-disasters.xlsx','page 2')
df

,Country name,Year,Number of deaths from drought,Number of people injured from drought,Number of people affected from drought,Number of people left homeless from drought,Number of total people affected by drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,...,total_damages_pct_gdp_wet_mass_movement,deaths_all_disasters_excluding_earthquakes,deaths_all_disasters_excluding_extreme_temperature,deaths_glacial_lake_outburst_flood,deaths_wet_mass_movement,deaths_rate_per_100k_all_disasters_excluding_earthquakes,deaths_rate_per_100k_all_disasters_excluding_extreme_temperature,deaths_rate_per_100k_glacial_lake_outburst_flood,deaths_rate_per_100k_storm,deaths_rate_per_100k_wet_mass_movement
0,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
1,Afghanistan,1910,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
2,Afghanistan,1920,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
3,Afghanistan,1930,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
4,Afghanistan,1940,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3063,Zimbabwe,1980,0.0,0.0,0.0,0.0,0.0,0,0,100000.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
3064,Zimbabwe,1990,0.0,0.0,505500.0,0.0,505500.0,0,0,5000000.0,...,0.0,3.6,3.6,0.0,0.0,0.031173,0.031173,0.0,0.000000,0.0
3065,Zimbabwe,2000,0.0,0.0,810000.0,0.0,810000.0,0,0,0.0,...,0.0,12.0,12.0,0.0,0.0,0.100004,0.100004,0.0,0.006625,0.0
3066,Zimbabwe,2010,0.0,0.0,1232398.0,0.0,1232398.0,0,0,50000000.0,...,0.0,108.5,108.5,0.0,0.0,0.726828,0.726828,0.0,0.607668,0.0
3067,Zimbabwe,2020,0.0,0.0,142227.6,0.0,142227.6,0,0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.006152,0.006152,0.0,0.006152,0.0

In [19]:
df1 = df[['Country name','Year','Number of people left homeless from earthquakes',	'Number of total people affected by earthquakes',
'Number of deaths from earthquakes',
'Number of people injured from earthquakes',
'Number of people affected by earthquakes',
'Number of people left homeless from earthquakes',
'Number of total people affected by earthquakes',
'Reconstruction costs from earthquakes',
'Insured damages against earthquakes',
'Total economic damages from earthquakes',
'Death rates from earthquakes',
'Injury rates from earthquakes',
'Number of people affected by earthquakes per 100,000',
'Homelessness rate from earthquakes',
'Total number of people affected by earthquakes per 100,000'
]]
df1

,Country name,Year,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Number of deaths from earthquakes,Number of people injured from earthquakes,Number of people affected by earthquakes,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Reconstruction costs from earthquakes,Insured damages against earthquakes,Total economic damages from earthquakes,Death rates from earthquakes,Injury rates from earthquakes,"Number of people affected by earthquakes per 100,000",Homelessness rate from earthquakes,"Total number of people affected by earthquakes per 100,000"
0,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3063,Zimbabwe,1980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3064,Zimbabwe,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3065,Zimbabwe,2000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3066,Zimbabwe,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3067,Zimbabwe,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [20]:
df1.loc[df1['Year'] < 2000, 'Category'] = 'Before 2000'
df1.loc[df1['Year'] >= 2000, 'Category'] = 'After 2000'
df1 = df1.drop(columns=['Year'])
df1 = df1.drop_duplicates()
df1

C:\Users\Raka\AppData\Local\Temp\ipykernel_3284\3497006123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[df1['Year'] < 2000, 'Category'] = 'Before 2000'

,Country name,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Number of deaths from earthquakes,Number of people injured from earthquakes,Number of people affected by earthquakes,Number of people left homeless from earthquakes,Number of total people affected by earthquakes,Reconstruction costs from earthquakes,Insured damages against earthquakes,Total economic damages from earthquakes,Death rates from earthquakes,Injury rates from earthquakes,"Number of people affected by earthquakes per 100,000",Homelessness rate from earthquakes,"Total number of people affected by earthquakes per 100,000",Category
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,Before 2000
5,Afghanistan,0.0,200.0,210.0,200.0,0.0,0.0,200.0,0,0,2500000,2.666786e+07,2.472882e+07,0.0,0.0,24728818.0,Before 2000
7,Afghanistan,0.0,9001.5,6.1,1.5,9000.0,0.0,9001.5,0,0,0,4.998649e-02,1.328992e-02,72433.0,0.0,7244629.0,Before 2000
8,Afghanistan,658.0,7253.8,51.3,351.8,6244.0,658.0,7253.8,0,0,900000,5.086589e-01,3.493269e+07,6226757.0,6612104.0,7237294.0,Before 2000
9,Afghanistan,7702.5,35229.3,742.6,358.3,27168.5,7702.5,35229.3,0,0,2001000,4.095230e+07,1.961743e+07,15907729.0,41007694.0,20204674.0,Before 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039,Yugoslavia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,After 2000
3042,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,Before 2000
3052,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,After 2000
3055,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,Before 2000
3065,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,After 2000

In [21]:
data = df.loc[:,["Country name","Year"]]
data

     Country name  Year
0     Afghanistan  1900
1     Afghanistan  1910
2     Afghanistan  1920
3     Afghanistan  1930
4     Afghanistan  1940
...           ...   ...
3063     Zimbabwe  1980
3064     Zimbabwe  1990
3065     Zimbabwe  2000
3066     Zimbabwe  2010
3067     Zimbabwe  2020

[3068 rows x 2 columns]

In [22]:
data.loc[data['Year'] < 2000, 'Category'] = 'Before 2000'
data.loc[data['Year'] >= 2000, 'Category'] = 'After 2000'
data = data.drop(columns=['Year'])
data = data.drop_duplicates()
data

     Country name     Category
0     Afghanistan  Before 2000
10    Afghanistan   After 2000
13         Africa  Before 2000
23         Africa   After 2000
26        Albania  Before 2000
...           ...          ...
3039   Yugoslavia   After 2000
3042       Zambia  Before 2000
3052       Zambia   After 2000
3055     Zimbabwe  Before 2000
3065     Zimbabwe   After 2000

[472 rows x 2 columns]

In [24]:
df1.to_excel('outputtt.xlsx')

AttributeError: 'DataFrame' object has no attribute 'df'

In [ ]:
df.columns[:10]

Index(['Country name', 'Year', 'Number of deaths from drought',
       'Number of people injured from drought',
       'Number of people affected from drought',
       'Number of people left homeless from drought',
       'Number of total people affected by drought',
       'Reconstruction costs from drought', 'Insured damages against drought',
       'Total economic damages from drought'],
      dtype='object')

In [ ]:
df.columns[16:28]

Index(['Number of people injured from earthquakes',
       'Number of people affected by earthquakes',
       'Number of people left homeless from earthquakes',
       'Number of total people affected by earthquakes',
       'Reconstruction costs from earthquakes',
       'Insured damages against earthquakes',
       'Total economic damages from earthquakes',
       'Death rates from earthquakes', 'Injury rates from earthquakes',
       'Number of people affected by earthquakes per 100,000',
       'Homelessness rate from earthquakes',
       'Total number of people affected by earthquakes per 100,000'],
      dtype='object')

In [ ]:
id_vars= list(df.columns)[:10]
value_vars = list(df.columns)[16:28]

In [ ]:
data_melted=df.melt (id_vars= id_vars, value_vars= value_vars)
data_melted

,Country name,Year,Number of deaths from drought,Number of people injured from drought,Number of people affected from drought,Number of people left homeless from drought,Number of total people affected by drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,variable,value
0,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0,0,0.0,Number of people injured from earthquakes,0.0
1,Afghanistan,1910,0.0,0.0,0.0,0.0,0.0,0,0,0.0,Number of people injured from earthquakes,0.0
2,Afghanistan,1920,0.0,0.0,0.0,0.0,0.0,0,0,0.0,Number of people injured from earthquakes,0.0
3,Afghanistan,1930,0.0,0.0,0.0,0.0,0.0,0,0,0.0,Number of people injured from earthquakes,0.0
4,Afghanistan,1940,0.0,0.0,0.0,0.0,0.0,0,0,0.0,Number of people injured from earthquakes,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36811,Zimbabwe,1980,0.0,0.0,0.0,0.0,0.0,0,0,100000.0,Total number of people affected by earthquakes...,0.0
36812,Zimbabwe,1990,0.0,0.0,505500.0,0.0,505500.0,0,0,5000000.0,Total number of people affected by earthquakes...,0.0
36813,Zimbabwe,2000,0.0,0.0,810000.0,0.0,810000.0,0,0,0.0,Total number of people affected by earthquakes...,0.0
36814,Zimbabwe,2010,0.0,0.0,1232398.0,0.0,1232398.0,0,0,50000000.0,Total number of people affected by earthquakes...,0.0
36815,Zimbabwe,2020,0.0,0.0,142227.6,0.0,142227.6,0,0,0.0,Total number of people affected by earthquakes...,0.0

In [ ]:
data_melted.to_excel('output2.xlsx')

PermissionError: [Errno 13] Permission denied: 'output2.xlsx'